html {
    background-color: #2F4F4F;
    color: #fefae0;
    height: 800px;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500px;
    text-shadow: 1px 1px 2px black;
}

#container {
    margin-top: 30px;
}

#container button {
    background: #22bb33;
    text-shadow: 1px 1px 2px black;
    border-radius: 5px;
    border-color: #2F4F4F;
    box-shadow: 5px 5px #D3D3D3;
    padding: 10px 20px;
    margin-left: 150px;
    font-size: x-large;
    font-weight: 900;
    color: white;
}

#input-el {
    color: #283618;
    font-weight: 900px;
    font-size: large;
    background-color: #D3D3D3;
    border-radius: 8px;
    width: 300px;
    height: 50px;
    border-color: #bc6c25;
    border-width: 3px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    

}

#input-btn {
    margin-left: 6px;
    text-shadow: 1px 1px 2px black;
    height: 50px;
    padding: 2px 8px;
    background-color: #003049;
    border-radius: 6px;
    border-color:#003049;
    border-width: 3px;
    border-top-right-radius: 4px;
    font-weight:900;
    color: white;
}
p {
    color: #dda15e;
    margin-left: 10px;
    font-size: xx-large;
    text-shadow: 1px 1px 2px black;
}

#ol-el {
    text-shadow: 1px 1px 2px black;
}